.library{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    max-width: 250px;
    overflow-y: scroll;
    height: 100vh;
    background-color:rgb(255, 255, 255);
    h2{
        margin-top: 0.8rem;
        text-align: center;
    }
    box-shadow: 2px 2px 20px rgb(194, 185, 185);
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.lib-song{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:flex-start;
    cursor: pointer;
    img{
        padding: 0.4rem;
        max-width: 140px;
        width:140px;
        pointer-events: none;
    }
    &:hover{
        background: rgb(243, 190, 190);
    }
}
.active{
    background: rgb(224, 192, 192);
}
.current{
    background: rgb(218, 211, 211);
}
*{
    scroll-behavior: smooth;
    scrollbar-width:thin;
    scrollbar-color: rgba($color: #000000, $alpha: 0.5);
}
.active-lib{
    transform: translateX(0%);
    opacity: 1;
}