.load-circle{
    border: 1rem solid transparent;
    width:15rem;
    height:15rem;
    border-radius: 50%;
    border-top: 1rem solid rgb(211, 169, 169);
    animation: loading 0.5s alternate infinite ;
    transform: translate(-50%,-50%);
    overflow: hidden !important;
}
.loading-page{
    overflow: hidden !important;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    overflow: hidden;
}
.load-page{
    background-color: rgb(231, 89, 89);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 2;
    transform: translateX(0%);
    transition:all 4s ease-in-out;
    overflow: hidden !important;
}

.no-load-page{
    
    display: none;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
