.time-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  input {
    width: 70%;
    box-sizing: border-box;
  }
}
.player {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 28vh;
}
.controllers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-top: -2rem;
  svg {
    cursor: pointer;
  }
}
input {
  -webkit-appearance: none;
}
input:focus {
  outline: none;
}
input::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
}
.input-track input {
  width: 99%;
  border-radius: 2rem;
  margin-left: 0.2rem;
  background: linear-gradient(90deg, rgb(225, 109, 109), rgb(245, 171, 171));
  position: relative;
}
.input-track {
  border-radius: 3rem;
  width: 61%;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 790px) {
  .time-control {
    width: 100%;
    input {
      width: 100%;
    }
  }
  .controllers {
    width: 51%;
  }
}
