.song {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  flex-direction: column;

  img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: red
  }

  h1 {
    padding: 2rem;
    font-weight: 100;
    font-family: "Courier New", Courier, monospace;
  }
}