*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.app-no-active{
    transition: all 0.3s ease-in;
    margin-left: 0rem;
}
.app-active{
    transition: all 0.3s ease-in-out;
    margin-left: 5rem;
}
body{
    overflow: hidden !important;
}
@media screen and (max-width:788px) {
    body{
        height: 40vh;
    }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./load";