*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    overflow: hidden !important;
}
@media screen and (max-width:788px) {
    body{
        height: 40vh;
    }
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./load";